html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center; 
  width: 100%; 
}

.container {
  padding: 0;
  min-width: 100%;
  position: relative;
  /* height: 80vh; */
}

a, a:hover {
  text-decoration: none;
}

#YERC-footer {
  color: white;
}
#YERC-footer:hover {
 font-weight: bold;
}


