#Aboutmain {
    width: 50%; 
    margin: auto; 
    text-align: justify; 
    padding-top: 20px; 
  }

#YERCcontact{
    background-color: #E8E8E8;  
    width: 30%; 
    margin: auto; 
    margin-top: 50px; 
}