.datasetdropdown{
    width: 100%;
    margin: auto;
    text-align: center; 
    padding: 20px;
}

.k-form-field {
    width: 100%;
    margin: 5px 0px 5px 0px; 
  }

form{
    width: 100%; 
}

.formInputs{
    flex: 1; 
    order: 1; 
    width: 100%;
    min-width: 200px; 
    justify-content: space-around; 
    margin-top: 5%; 
}

.date-form {
    padding: 1%;

}

#lattitude {
    padding: 1%;
}

#longitude {
    padding: 1%;
}

.pad {
    padding: 1%;
}

.loc-title {
    font-size: 1.3em;
}

.coor {
    font-weight: bold;
}
