.datasetdropdown{
    width: 100%;
    margin: auto;
    text-align: center; 
    padding: 20px;
}

.k-form-field {
    width: 100%;
    margin: 5px 0px 5px 0px; 
  }

.date-form {
    padding: 1%;

}

#lattitude {
    padding: 1%;
}

#longitude {
    padding: 1%;
}

.pad {
    padding: 1%;
}

.loc-title {
    font-size: 1.2em;
    border-bottom: dotted;
}
