#content {
    height: 50vh;
    padding: 20px; 
    min-height: 100%; 
    margin: 0 10% 0 10%; 
}
<<<<<<< HEAD
=======


>>>>>>> 63ab91cf6ef24b0010aa4286dd57d5e2d24fa470

label{
    margin: 0px; 
}

#topform{
    width: 20%; 
    margin: 0 40% 0 40%; 
}

#formleft{
    float: left;
    width: 300px;
    height: 200px;
    margin: 20px;  
    margin-left: 200px; 
    text-align: left;  
}

.k-textbox{
    width: 100%; 
    margin: 5px 0px 5px 0px; 
}

#formright{
    float: right; 
    width: 300px;
    height: 200px;
    margin: 20px; 
    margin-right: 200px; 
    text-align: left; 
}

.datasetdropdown{
    width: 100%;
    margin: auto;
    text-align: center; 
    padding: 20px;
}

.k-form-field {
    width: 100%;
    margin: 5px 0px 5px 0px; 
  }

input[type=submit]{
    width: 80%; 
    margin: 20px; 
    width: 50%; 
    margin-top: 50px; 
}

.footer {
    bottom: 0; 
    position: absolute;
    width: 100%;
    padding-top: 10px;
    flex: none; 
}
  

  
