label{
    margin: 0px; 
}


[type=submit]{
    margin-top: 20px; 
}

.footer {
    bottom: 0; 
    position: absolute;
    width: 100%;
}

.logo {
    height: 50px;
    width: 50px;
    /* display: block; */
}
  

  
