#content {
    top: 55px; 
    margin-top: 40px; 
    bottom: 90px; 
    height: auto; 
    width: 100%;
    min-height: 100%; 
}

label{
    margin: 0px; 
}


[type=submit]{
    margin-top: 20px; 
}

.footer {
    bottom: 0; 
    position: absolute;
    width: 100%;
    padding-top: 10px;
    flex: none; 
}

.logo {
    height: 50px;
    width: 50px;
    /* display: block; */
}
  

  
